@font-face {
  font-family: "iconfont"; /* Project id 3408117 */
  src: url('/static/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.diy-plus1:before {
  content: "\e92c";
}

.diy-minus1:before {
  content: "\e619";
}

.diy-ontimeshipment:before {
  content: "\e75a";
}

.diy-searchcart:before {
  content: "\e763";
}

.diy-chongwu:before {
  content: "\e6d7";
}

